body{
	background-color: #0079BF;
}

.logo{
  position: fixed;
  width: 100%;
  height: 120px
}

p{
  padding: 6px 43px;
  color: #fff;
  font-size: 16px;
}

section{
  white-space: nowrap;
}

.block {
  display: inline-block;
  width: 20%;
  margin-top: 100px;
}

.listaAdd{
  cursor: pointer;
  width: 200px;
  color: #fff;
  background-color: #006BA9;
  padding: 6px 20px;
  margin-left: 26px;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
}

textarea {
  display: block;
}

.listaAdd:hover{
  background-color: black;
  opacity: 0.2;
}

.contenedor{
  width: 210px;
  background-color: #E2E4E6;
  margin-left: 26px;
  border-radius: 3px;
}

.divList{
  width: 220px;
  background-color: #E2E4E6;
  color: black;
  border-radius: 3px;
  padding: 18px;
  margin: 5px;
}

.input{
  margin-bottom: 9px;
  border-radius: 6px;
  background: #D6D8DA;
  display: block;
  border: 1px solid #a39f9f;
}

.divTarjeta{
  width: 195px;
  background-color: #E2E4E6;
  margin-right: -10px;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
}

.white{
  background: white;
  margin: 6px;
}